{% extends 'student register/structure_template.html' %}
{% block page_title %}
Home
{% endblock page_title %}
{% block main_content %}
    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="alert alert-danger" style="margin-top:10px">ANNOUNCEMENTS</div>
        <p>*Oncampus Society meetups are suspended until Tuesday, 4th January, 2022</p>
        <p>*Remember to always follow the COVID-19 guidelines; ensure social distancing and wear your face masks 
          ALWAYS when in the school environment.
        </p>
        <div class="alert alert-success" style="margin-top:10px">UPCOMING EVENTS</div>
           <p>*The school goes on Christmas break on Friday, 17th December, 2021 and resumes Tuesday, 4th January, 2021 </p>
        <p>*Monday, 3rd January, 2022 is a Day of for New Year's Day</p>
        <p>Basketball and Football societies will have a games week with regards to Christmas from Monday, 20th December to 
          Wednesday, 22nd December, 2021. Remember to observe COVID-19 guidelines. Stay safe.</p>
      </div>
    </section>
    <!-- /.content -->
{% endblock main_content %}