{% extends 'Staff_Register/BasePage.html' %}
{% block page_title %}
Home
{% endblock page_title %}
{% block main_content %}
    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="alert alert-danger" style="margin-top:10px">ANNOUNCEMENTS</div>
        <p>*There will be an important meeting on Monday, 20th December, 2021. The scheduled time is 2:00PM. All staff are expected to be on time;
           the director will be making a speech before the meeting commences.</p>
        <p>*Ensure that no class are fixed after Friday, 17th December, 2021</p>
        <div class="alert alert-success" style="margin-top:10px">UPCOMING EVENTS</div>
           <p>*The school goes on Christmas break on Friday, 17th December, 2021 and resumes Tuesday, 4th January, 2022 </p>
        <p>*Monday, 3rd January, 2022 is a Day of for New Year's Day</p>
      </div>
    </section>
    <!-- /.content -->
{% endblock main_content %}